<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>My TODOs</title>

<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<div class="todolist">
					<h1>Todos</h1>
					<form action="#" th:action="@{/addtodo}" th:object="${newtodo}" method="post">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Add todo" th:field="*{name}" />
							<div class="input-group-btn">
								<input type="submit" class="btn btn-primary" value="add" />
							</div>
						</div>
					</form>
					<br />

					<ul th:each="todo: ${todos}" class="list-unstyled">
						<li>
							<span th:text="${todo.name}" th:class="${todo.isDone()} ? 'strikethrough':''"></span>
							<div class="pull-right">
								<a 	th:href="@{'/todos/done'(id=${todo.id})}" 
									th:class="${todo.isDone()} ? 'hidden' : 'btn btn-success btn-xs' ">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								</a>
								<a th:href="@{'/todos/trash'(id=${todo.id})}" class="btn btn-danger btn-xs">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/resources/js/jquery-1.12.1.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>